/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #499faa;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    borde%;
}

section {
    padding: 40px;
    background-color: #fff;
    margin: 20px;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

.feature, .pricing-option {
    width: 30%;
    display: inline-block;
    text-align:center;
    margin:  5%;
}

img {
    max-width: 100%;
}

#contact-form {
    text-align: left;
    
}

button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
